In [1]:
import pandas as pd # Para trabajar con dataframes
import numpy as np # Para operaciones y funciones con arrays

In [80]:
games = pd.read_json("../Datasets/steam_games.json.gz", lines=True)

In [81]:
games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
2,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None

In [82]:
games.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'specs', 'price', 'early_access', 'id',
       'developer'],
      dtype='object')

In [83]:
games.drop(columns=['publisher', 'genres', 'app_name', 'url', 'reviews_url', 'specs', 'price', 'early_access', 'developer'], inplace=True)

In [84]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         30085 non-null  object
 1   release_date  30068 non-null  object
 2   tags          31972 non-null  object
 3   id            32133 non-null  float64
dtypes: float64(1), object(3)
memory usage: 3.7+ MB

In [85]:
games.dropna(subset='id', inplace=True)

In [86]:
games.dropna(subset='release_date', inplace=True)

In [87]:
games.dropna(subset='tags', inplace=True)

In [88]:
games.drop_duplicates(subset='id', inplace=True)

In [89]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29905 entries, 88310 to 120443
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         29904 non-null  object
 1   release_date  29905 non-null  object
 2   tags          29905 non-null  object
 3   id            29905 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.1+ MB

In [90]:
games['release_date']

88310     2018-01-04
88311     2018-01-04
88312     2017-07-24
88313     2017-12-07
88315     2018-01-04
             ...
120439    2018-01-04
120440    2018-01-04
120441    2018-01-04
120442    2018-01-04
120443    2017-09-02
Name: release_date, Length: 29905, dtype: object

In [91]:
games['release_date'] = games['release_date'].str.extract(r'(\d{4})')

In [92]:
games=games[~games['release_date'].isna()]

In [93]:
games['release_date'] = games['release_date'].astype(int)

In [94]:
games['release_date'].min()

1970

In [95]:
games['release_date'].max()

5275

In [96]:
games[games['release_date']>2023]

,title,release_date,tags,id
101738,Puzzle Sisters Foer,5275,"[Early Access, Casual, Indie]",710190.0

In [97]:
games=games[games['release_date']<2023]

In [98]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29803 entries, 88310 to 120443
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         29802 non-null  object
 1   release_date  29803 non-null  int32
 2   tags          29803 non-null  object
 3   id            29803 non-null  float64
dtypes: float64(1), int32(1), object(2)
memory usage: 1.0+ MB

In [99]:
games.rename(columns={'tags': 'genres'}, inplace=True)

In [100]:
games.rename(columns={'id': 'item_id'}, inplace=True)

In [101]:
games.head()

,title,release_date,genres,item_id
88310,Lost Summoner Kitty,2018,"[Strategy, Action, Indie, Casual, Simulation]",761140.0
88311,Ironbound,2018,"[Free to Play, Strategy, Indie, RPG, Card Game...",643980.0
88312,Real Pool 3D - Poolians,2017,"[Free to Play, Simulation, Sports, Casual, Ind...",670290.0
88313,弹炸人2222,2017,"[Action, Adventure, Casual]",767400.0
88315,Battle Royale Trainer,2018,"[Action, Adventure, Simulation, FPS, Shooter, ...",772540.0

In [102]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29803 entries, 88310 to 120443
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         29802 non-null  object
 1   release_date  29803 non-null  int32
 2   genres        29803 non-null  object
 3   item_id       29803 non-null  float64
dtypes: float64(1), int32(1), object(2)
memory usage: 1.0+ MB

In [103]:
games['item_id'] = games['item_id'].astype(int)

In [104]:
games=games.sort_values('item_id')

In [105]:
games=games.explode('genres')

In [106]:
games.head()

                 title  release_date       genres  item_id
120416  Counter-Strike          2000       Action       10
120416  Counter-Strike          2000          FPS       10
120416  Counter-Strike          2000  Multiplayer       10
120416  Counter-Strike          2000      Shooter       10
120416  Counter-Strike          2000      Classic       10

In [107]:
dummies = pd.get_dummies(games['genres'], dtype=np.int8)
dummies

,1980s,1990's,2.5D,2D,2D Fighter,3D Platformer,3D Vision,4 Player Local,4X,6DOF,...,Warhammer 40K,Web Publishing,Werewolves,Western,Word Game,World War I,World War II,Wrestling,Zombies,e-sports
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118632,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
dummies.sum()>dummies.mean()

1980s           True
1990's          True
2.5D            True
2D              True
2D Fighter      True
                ...
World War I     True
World War II    True
Wrestling       True
Zombies         True
e-sports        True
Length: 337, dtype: bool

In [109]:
dummies.loc[:, dummies.sum() > dummies.sum().mean()]

,2D,Action,Adventure,Anime,Arcade,Atmospheric,Casual,Classic,Co-op,Comedy,...,Story Rich,Strategy,Survival,Tactical,Third Person,Turn-Based,Utilities,Violent,Visual Novel,Zombies
120416,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118632,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118834,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118834,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89735,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [110]:
col=dummies.loc[:, dummies.sum() > dummies.sum().mean()].columns

In [111]:
col=col.to_list()

In [112]:
dummies=dummies[col]

In [113]:
dummies

,2D,Action,Adventure,Anime,Arcade,Atmospheric,Casual,Classic,Co-op,Comedy,...,Story Rich,Strategy,Survival,Tactical,Third Person,Turn-Based,Utilities,Violent,Visual Novel,Zombies
120416,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118632,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118834,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118834,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89735,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [114]:
dummies.columns=dummies.columns.str.upper()

In [115]:
dummies

,2D,ACTION,ADVENTURE,ANIME,ARCADE,ATMOSPHERIC,CASUAL,CLASSIC,CO-OP,COMEDY,...,STORY RICH,STRATEGY,SURVIVAL,TACTICAL,THIRD PERSON,TURN-BASED,UTILITIES,VIOLENT,VISUAL NOVEL,ZOMBIES
120416,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118632,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118834,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118834,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89735,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [116]:
games.head()

                 title  release_date       genres  item_id
120416  Counter-Strike          2000       Action       10
120416  Counter-Strike          2000          FPS       10
120416  Counter-Strike          2000  Multiplayer       10
120416  Counter-Strike          2000      Shooter       10
120416  Counter-Strike          2000      Classic       10

In [117]:
df = pd.concat([games, dummies], axis=1)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 157825 entries, 120416 to 89735
Data columns (total 65 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   title                  157823 non-null  object
 1   release_date           157825 non-null  int32
 2   genres                 157825 non-null  object
 3   item_id                157825 non-null  int32
 4   2D                     157825 non-null  int8
 5   ACTION                 157825 non-null  int8
 6   ADVENTURE              157825 non-null  int8
 7   ANIME                  157825 non-null  int8
 8   ARCADE                 157825 non-null  int8
 9   ATMOSPHERIC            157825 non-null  int8
 10  CASUAL                 157825 non-null  int8
 11  CLASSIC                157825 non-null  int8
 12  CO-OP                  157825 non-null  int8
 13  COMEDY                 157825 non-null  int8
 14  CUTE                   157825 non-null  int8
 15  DESIGN & ILLUSTRATION  157825 non-null  int8
 16  DIFFICULT              157825 non-null  int8
 17  EARLY ACCESS           157825 non-null  int8
 18  EXPLORATION            157825 non-null  int8
 19  FPS                    157825 non-null  int8
 20  FAMILY FRIENDLY        157825 non-null  int8
 21  FANTASY                157825 non-null  int8
 22  FEMALE PROTAGONIST     157825 non-null  int8
 23  FIRST-PERSON           157825 non-null  int8
 24  FREE TO PLAY           157825 non-null  int8
 25  FUNNY                  157825 non-null  int8
 26  GORE                   157825 non-null  int8
 27  GREAT SOUNDTRACK       157825 non-null  int8
 28  HIDDEN OBJECT          157825 non-null  int8
 29  HORROR                 157825 non-null  int8
 30  INDIE                  157825 non-null  int8
 31  LOCAL CO-OP            157825 non-null  int8
 32  LOCAL MULTIPLAYER      157825 non-null  int8
 33  MASSIVELY MULTIPLAYER  157825 non-null  int8
 34  MOVIE                  157825 non-null  int8
 35  MULTIPLAYER            157825 non-null  int8
 36  ONLINE CO-OP           157825 non-null  int8
 37  OPEN WORLD             157825 non-null  int8
 38  PIXEL GRAPHICS         157825 non-null  int8
 39  PLATFORMER             157825 non-null  int8
 40  POINT & CLICK          157825 non-null  int8
 41  PUZZLE                 157825 non-null  int8
 42  RPG                    157825 non-null  int8
 43  RPGMAKER               157825 non-null  int8
 44  RACING                 157825 non-null  int8
 45  RETRO                  157825 non-null  int8
 46  ROGUE-LIKE             157825 non-null  int8
 47  SANDBOX                157825 non-null  int8
 48  SCI-FI                 157825 non-null  int8
 49  SHOOT 'EM UP           157825 non-null  int8
 50  SHOOTER                157825 non-null  int8
 51  SIMULATION             157825 non-null  int8
 52  SINGLEPLAYER           157825 non-null  int8
 53  SPACE                  157825 non-null  int8
 54  SPORTS                 157825 non-null  int8
 55  STORY RICH             157825 non-null  int8
 56  STRATEGY               157825 non-null  int8
 57  SURVIVAL               157825 non-null  int8
 58  TACTICAL               157825 non-null  int8
 59  THIRD PERSON           157825 non-null  int8
 60  TURN-BASED             157825 non-null  int8
 61  UTILITIES              157825 non-null  int8
 62  VIOLENT                157825 non-null  int8
 63  VISUAL NOVEL           157825 non-null  int8
 64  ZOMBIES                157825 non-null  int8
dtypes: int32(2), int8(61), object(2)
memory usage: 14.0+ MB

In [119]:
df.drop(columns=['title','release_date','genres'], inplace=True)

In [120]:
df

,item_id,2D,ACTION,ADVENTURE,ANIME,ARCADE,ATMOSPHERIC,CASUAL,CLASSIC,CO-OP,...,STORY RICH,STRATEGY,SURVIVAL,TACTICAL,THIRD PERSON,TURN-BASED,UTILITIES,VIOLENT,VISUAL NOVEL,ZOMBIES
120416,10,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
120416,10,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118632,2028062,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118834,2028103,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118834,2028103,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89735,2028850,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89735,2028850,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [121]:
col=df.columns.to_list()

In [122]:
df=df.groupby('item_id')[col].sum()

In [123]:
df

,item_id,2D,ACTION,ADVENTURE,ANIME,ARCADE,ATMOSPHERIC,CASUAL,CLASSIC,CO-OP,...,STORY RICH,STRATEGY,SURVIVAL,TACTICAL,THIRD PERSON,TURN-BASED,UTILITIES,VIOLENT,VISUAL NOVEL,ZOMBIES
item_id,,,,,,,,,,,,,,,,,,,,,
10,200,0,1,0,0,0,0,0,1,0,...,0,1,1,1,0,0,0,0,0,0
20,400,0,1,1,0,0,0,1,1,1,...,1,0,0,0,0,0,0,0,0,0
30,450,0,1,0,0,0,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
40,320,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
50,850,0,1,1,0,0,1,0,1,1,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2028055,2028055,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2028056,2028056,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2028062,8112248,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2028103,4056206,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2028850,4057700,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [124]:
df.drop(columns=['item_id'], inplace=True)

In [125]:
df=df.reset_index()

In [126]:
df

,item_id,2D,ACTION,ADVENTURE,ANIME,ARCADE,ATMOSPHERIC,CASUAL,CLASSIC,CO-OP,...,STORY RICH,STRATEGY,SURVIVAL,TACTICAL,THIRD PERSON,TURN-BASED,UTILITIES,VIOLENT,VISUAL NOVEL,ZOMBIES
0,10,0,1,0,0,0,0,0,1,0,...,0,1,1,1,0,0,0,0,0,0
1,20,0,1,1,0,0,0,1,1,1,...,1,0,0,0,0,0,0,0,0,0
2,30,0,1,0,0,0,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
3,40,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,50,0,1,1,0,0,1,0,1,1,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29798,2028055,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29799,2028056,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
29800,2028062,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29801,2028103,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29802,2028850,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [127]:
df.to_parquet("../Datasets/gamesoh.parquet")

In [130]:
games.head()

                 title  release_date       genres  item_id
120416  Counter-Strike          2000       Action       10
120416  Counter-Strike          2000          FPS       10
120416  Counter-Strike          2000  Multiplayer       10
120416  Counter-Strike          2000      Shooter       10
120416  Counter-Strike          2000      Classic       10

In [131]:
games.drop_duplicates('item_id', inplace=True)

In [132]:
games.head()

                            title  release_date  genres  item_id
120416             Counter-Strike          2000  Action       10
120413      Team Fortress Classic          1999  Action       20
120424              Day of Defeat          2003     FPS       30
120418         Deathmatch Classic          2001  Action       40
120414  Half-Life: Opposing Force          1999     FPS       50

In [133]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29803 entries, 120416 to 89735
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         29802 non-null  object
 1   release_date  29803 non-null  int32
 2   genres        29803 non-null  object
 3   item_id       29803 non-null  int32
dtypes: int32(2), object(2)
memory usage: 931.3+ KB

In [134]:
games.drop(columns=['genres'], inplace=True)

In [135]:
games.head()

                            title  release_date  item_id
120416             Counter-Strike          2000       10
120413      Team Fortress Classic          1999       20
120424              Day of Defeat          2003       30
120418         Deathmatch Classic          2001       40
120414  Half-Life: Opposing Force          1999       50

In [136]:
games.to_parquet("../Datasets/games.parquet")