In [35]:
import pandas as pd

In [36]:
games = pd.read_parquet('../Datasets/gamesv5.parquet')

In [37]:
reviews = pd.read_parquet('../Datasets/reviews.parquet')

In [38]:
games = games.drop_duplicates('item_id')

In [39]:
reviews = reviews.drop_duplicates('item_id')

In [40]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3682 entries, 0 to 59286
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             3682 non-null   object
 1   posted              3682 non-null   int64
 2   item_id             3682 non-null   int64
 3   recommend           3682 non-null   bool
 4   sentiment_analysis  3682 non-null   int64
dtypes: bool(1), int64(3), object(1)
memory usage: 147.4+ KB

In [41]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29803 entries, 0 to 157819
Data columns (total 63 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   item_id                29803 non-null  int64
 1   release_date           29803 non-null  int64
 2   2D                     29803 non-null  uint8
 3   ACTION                 29803 non-null  uint8
 4   ADVENTURE              29803 non-null  uint8
 5   ANIME                  29803 non-null  uint8
 6   ARCADE                 29803 non-null  uint8
 7   ATMOSPHERIC            29803 non-null  uint8
 8   CASUAL                 29803 non-null  uint8
 9   CLASSIC                29803 non-null  uint8
 10  CO-OP                  29803 non-null  uint8
 11  COMEDY                 29803 non-null  uint8
 12  CUTE                   29803 non-null  uint8
 13  DESIGN & ILLUSTRATION  29803 non-null  uint8
 14  DIFFICULT              29803 non-null  uint8
 15  EARLY ACCESS           29803 non-null  uint8
 16  EXPLORATION            29803 non-null  uint8
 17  FPS                    29803 non-null  uint8
 18  FAMILY FRIENDLY        29803 non-null  uint8
 19  FANTASY                29803 non-null  uint8
 20  FEMALE PROTAGONIST     29803 non-null  uint8
 21  FIRST-PERSON           29803 non-null  uint8
 22  FREE TO PLAY           29803 non-null  uint8
 23  FUNNY                  29803 non-null  uint8
 24  GORE                   29803 non-null  uint8
 25  GREAT SOUNDTRACK       29803 non-null  uint8
 26  HIDDEN OBJECT          29803 non-null  uint8
 27  HORROR                 29803 non-null  uint8
 28  INDIE                  29803 non-null  uint8
 29  LOCAL CO-OP            29803 non-null  uint8
 30  LOCAL MULTIPLAYER      29803 non-null  uint8
 31  MASSIVELY MULTIPLAYER  29803 non-null  uint8
 32  MOVIE                  29803 non-null  uint8
 33  MULTIPLAYER            29803 non-null  uint8
 34  ONLINE CO-OP           29803 non-null  uint8
 35  OPEN WORLD             29803 non-null  uint8
 36  PIXEL GRAPHICS         29803 non-null  uint8
 37  PLATFORMER             29803 non-null  uint8
 38  POINT & CLICK          29803 non-null  uint8
 39  PUZZLE                 29803 non-null  uint8
 40  RPG                    29803 non-null  uint8
 41  RPGMAKER               29803 non-null  uint8
 42  RACING                 29803 non-null  uint8
 43  RETRO                  29803 non-null  uint8
 44  ROGUE-LIKE             29803 non-null  uint8
 45  SANDBOX                29803 non-null  uint8
 46  SCI-FI                 29803 non-null  uint8
 47  SHOOT 'EM UP           29803 non-null  uint8
 48  SHOOTER                29803 non-null  uint8
 49  SIMULATION             29803 non-null  uint8
 50  SINGLEPLAYER           29803 non-null  uint8
 51  SPACE                  29803 non-null  uint8
 52  SPORTS                 29803 non-null  uint8
 53  STORY RICH             29803 non-null  uint8
 54  STRATEGY               29803 non-null  uint8
 55  SURVIVAL               29803 non-null  uint8
 56  TACTICAL               29803 non-null  uint8
 57  THIRD PERSON           29803 non-null  uint8
 58  TURN-BASED             29803 non-null  uint8
 59  UTILITIES              29803 non-null  uint8
 60  VIOLENT                29803 non-null  uint8
 61  VISUAL NOVEL           29803 non-null  uint8
 62  ZOMBIES                29803 non-null  uint8
dtypes: int64(2), uint8(61)
memory usage: 2.4 MB

In [42]:
# Supongamos que 'item_id' es la columna que se utiliza para la coincidencia
merged_df = pd.merge(games, reviews, on='item_id', how='left', indicator=True)

# Filtrar solo las filas que no tienen coincidencias en 'games'
reviews_sin_coincidencias = merged_df[merged_df['_merge'] == 'left_only']

# Eliminar la columna de indicador '_merge' si es necesario
reviews_sin_coincidencias = reviews_sin_coincidencias.drop('_merge', axis=1)

# Ahora 'reviews_sin_coincidencias' contiene las filas de 'reviews' sin coincidencias en 'games'

In [43]:
reviews_sin_coincidencias

,item_id,release_date,2D,ACTION,ADVENTURE,ANIME,ARCADE,ATMOSPHERIC,CASUAL,CLASSIC,...,THIRD PERSON,TURN-BASED,UTILITIES,VIOLENT,VISUAL NOVEL,ZOMBIES,user_id,posted,recommend,sentiment_analysis
0,761140,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,643980,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,670290,2017,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,767400,2017,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,772540,2018,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29798,745400,2018,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
29799,773640,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
29800,733530,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
29801,610660,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
29802,658870,2017,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [60]:
fid = reviews_sin_coincidencias[['item_id','release_date']].copy()

In [61]:
fid

       item_id  release_date
0       761140          2018
1       643980          2018
2       670290          2017
3       767400          2017
4       772540          2018
...        ...           ...
29798   745400          2018
29799   773640          2018
29800   733530          2018
29801   610660          2018
29802   658870          2017

[26686 rows x 2 columns]

In [62]:
df=pd.read_json('https://api.steampowered.com/ISteamApps/GetAppList/v0002/')

In [63]:
df=pd.json_normalize(df['applist'].iloc[0])

In [64]:
df.head()

     appid name
0  1941401
1  1897482
2  2112761
3  2016512
4  1820332

In [65]:
df[df['name']=='']

      appid name
0   1941401
1   1897482
2   2112761
3   2016512
4   1820332
5   1360782
6    662172
10  1118314
11  1275822
12  1343832
13  1828741
14  1927051
15  1496152
16  1983382
17  1808781
18  1977312
19  1700632
20  1829051
21  1567401
22  2092072
23  2119422
24   596501
25  2156011
26  2177061
27  2170321
28  1825161
29  1383152
30  1496243
31  2121741
32  1375021
33  2292161
34  1312081

In [66]:
df['name'] = df['name'].replace('', 'No Name')

In [67]:
df[df['name']=='No Name']

      appid     name
0   1941401  No Name
1   1897482  No Name
2   2112761  No Name
3   2016512  No Name
4   1820332  No Name
5   1360782  No Name
6    662172  No Name
10  1118314  No Name
11  1275822  No Name
12  1343832  No Name
13  1828741  No Name
14  1927051  No Name
15  1496152  No Name
16  1983382  No Name
17  1808781  No Name
18  1977312  No Name
19  1700632  No Name
20  1829051  No Name
21  1567401  No Name
22  2092072  No Name
23  2119422  No Name
24   596501  No Name
25  2156011  No Name
26  2177061  No Name
27  2170321  No Name
28  1825161  No Name
29  1383152  No Name
30  1496243  No Name
31  2121741  No Name
32  1375021  No Name
33  2292161  No Name
34  1312081  No Name

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183514 entries, 0 to 183513
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   appid   183514 non-null  int64
 1   name    183514 non-null  object
dtypes: int64(1), object(1)
memory usage: 2.8+ MB

In [69]:
df[df['appid']==245950]

        appid                                               name
82508  245950  Borderlands 2: Headhunter 4: Wedding Day Massacre

In [70]:
df.rename(columns={'appid':'item_id'}, inplace=True)

In [71]:
df.head()

   item_id     name
0  1941401  No Name
1  1897482  No Name
2  2112761  No Name
3  2016512  No Name
4  1820332  No Name

In [72]:
li=list(df['item_id'])

In [73]:
li

[1941401,
 1897482,
 2112761,
 2016512,
 1820332,
 1360782,
 662172,
 216938,
 660010,
 660130,
 1118314,
 1275822,
 1343832,
 1828741,
 1927051,
 1496152,
 1983382,
 1808781,
 1977312,
 1700632,
 1829051,
 1567401,
 2092072,
 2119422,
 596501,
 2156011,
 2177061,
 2170321,
 1825161,
 1383152,
 1496243,
 2121741,
 1375021,
 2292161,
 1312081,
 2054470,
 2054471,
 2054490,
 2054510,
 2054520,
 2054540,
 2054550,
 2054560,
 2054570,
 2054600,
 2054620,
 2054630,
 2054640,
 2054670,
 2054680,
 2054690,
 2054700,
 2054710,
 2054720,
 2054730,
 2054740,
 2054750,
 2054760,
 2054770,
 2054800,
 2054810,
 2054820,
 2054840,
 2054850,
 2054910,
 2054920,
 2054960,
 2054000,
 2054010,
 2054020,
 2054050,
 2054060,
 2054080,
 2054090,
 2054100,
 2054110,
 2054120,
 2054140,
 2054150,
 2054170,
 2054180,
 2054200,
 2054210,
 2054220,
 2054230,
 2054270,
 2054280,
 2054290,
 2054300,
 2054310,
 2054320,
 2054330,
 2054340,
 2054380,
 2054390,
 2054400,
 2054412,
 2054413,
 2054420,
 2054450,
 2054460,
 2053550,
 2053590,
 2053600,
 2053610,
 2053650,
 2053671,
 2053690,
 2053700,
 2053710,
 2053720,
 2053730,
 2053750,
 2053760,
 2053770,
 2053780,
 2053800,
 2053801,
 2053802,
 2053803,
 2053810,
 2053830,
 2053850,
 2053851,
 2053852,
 2053860,
 2053870,
 2053880,
 2053890,
 2053910,
 2053920,
 2053930,
 2053940,
 2053950,
 2053990,
 2053140,
 2053150,
 2053180,
 2053190,
 2053200,
 2053210,
 2053220,
 2053230,
 2053250,
 2053280,
 2053320,
 2053340,
 2053350,
 2053360,
 2053370,
 2053380,
 2053420,
 2053430,
 2053450,
 2053480,
 2053490,
 2053500,
 2053510,
 2052680,
 2052690,
 2052710,
 2052720,
 2052730,
 2052740,
 2052750,
 2052760,
 2052770,
 2052780,
 2052800,
 2052810,
 2052820,
 2052840,
 2052850,
 2052860,
 2052880,
 2052890,
 2052910,
 2052920,
 2052930,
 2052940,
 2052950,
 2052960,
 2052961,
 2052962,
 2052963,
 2052970,
 2052980,
 2053020,
 2053022,
 2053030,
 2053040,
 2053050,
 2053060,
 2053070,
 2053080,
 2053090,
 2053100,
 2053110,
 2053120,
 2052250,
 2052270,
 2052290,
 2052300,
 2052310,
 2052330,
 2052350,
 2052351,
 2052352,
 2052360,
 2052380,
 2052400,
 2052410,
 2052420,
 2052421,
 2052430,
 2052460,
 2052470,
 2052490,
 2052500,
 2052510,
 2052530,
 2052540,
 2052580,
 2052581,
 2052620,
 2052630,
 2052640,
 2052650,
 2052660,
 2051700,
 2051750,
 2051760,
 2051770,
 2051790,
 2051800,
 2051810,
 2051820,
 2051830,
 2051840,
 2051850,
 2051860,
 2051870,
 2051880,
 2051930,
 2051950,
 2051970,
 2051980,
 2051990,
 2052060,
 2052080,
 2052110,
 2052140,
 2052150,
 2052160,
 2052170,
 2052200,
 2051100,
 2051110,
 2051130,
 2051150,
 2051170,
 2051200,
 2051210,
 2051220,
 2051230,
 2051250,
 2051260,
 2051270,
 2051280,
 2051290,
 2051320,
 2051350,
 2051351,
 2051360,
 2051380,
 2051400,
 2051420,
 2051430,
 2051440,
 2051450,
 2051500,
 2051530,
 2051540,
 2051550,
 2051590,
 2051610,
 2051630,
 2051640,
 2051650,
 2051660,
 2050590,
 2050600,
 2050610,
 2050650,
 2050670,
 2050680,
 2050700,
 2050710,
 2050720,
 2050730,
 2050740,
 2050770,
 2050790,
 2050800,
 2050810,
 2050820,
 2050830,
 2050840,
 2050860,
 2050870,
 2050880,
 2050890,
 2050910,
 2050920,
 2050940,
 2050950,
 2050960,
 2050970,
 2050980,
 2051000,
 2051020,
 2051030,
 2051040,
 2051050,
 2051060,
 2051070,
 2051080,
 2050000,
 2050040,
 2050050,
 2050060,
 2050070,
 2050080,
 2050110,
 2050120,
 2050140,
 2050150,
 2050200,
 2050210,
 2050310,
 2050330,
 2050340,
 2050350,
 2050380,
 2050400,
 2050410,
 2050420,
 2050430,
 2050440,
 2050450,
 2050460,
 2050470,
 2050480,
 2050490,
 2050500,
 2050510,
 2050520,
 2050530,
 2050540,
 2050550,
 2050560,
 2028270,
 2028850,
 2027760,
 2027770,
 2027800,
 2027810,
 2027820,
 2027830,
 2027850,
 2027860,
 2027880,
 2027900,
 2027920,
 2027950,
 2027960,
 2027970,
 2027980,
 2027990,
 2028023,
 2027240,
 2027250,
 2027260,
 2027280,
 2027290,
 2027300,
 2027310,
 2027320,
 2027330,
 2027340,
 2027350,
 2027360,
 2027370,
 2027380,
 2027390,
 2027400,
 2027410,
 2027420,
 2027440,
 2027450,
 2027460,
 2027470,
 2027480,
 2027490,
 2027500,
 2027510,
 2027530,
 2027540,
 2027550,
 2027560,
 2027570,
 2027580,
 2027590,
 2027600,
 2027620,
 2027640,
 2027650,
 2027660,
 2027670,
 2027680,
 2027690,
 2027700,
 2027710,
 2027720,
 2026750,
 2026760,
 2026770,
 2026780,
 2026790,
 2026810,
 2026820,
 2026830,
 2026840,
 2026850,
 2026860,
 2026870,
 2026880,
 2026930,
 2026940,
 2026950,
 2026960,
 2026980,
 2026990,
 2027000,
 2027020,
 2027030,
 2027040,
 2027050,
 2027060,
 2027080,
 2027090,
 2027100,
 2027120,
 2027130,
 2027150,
 2027170,
 2027180,
 2027190,
 2027200,
 2027220,
 2027230,
 2026250,
 2026260,
 2026270,
 2026280,
 2026290,
 2026300,
 2026310,
 2026320,
 2026330,
 2026340,
 2026360,
 2026370,
 2026380,
 2026390,
 2026400,
 2026410,
 2026430,
 2026440,
 2026450,
 2026460,
 2026470,
 2026480,
 2026490,
 2026500,
 2026510,
 2026520,
 2026540,
 2026550,
 2026560,
 2026580,
 2026590,
 2026600,
 2026610,
 2026620,
 2026660,
 2026680,
 2026690,
 2026700,
 2026720,
 2026730,
 2026740,
 2025780,
 2025810,
 2025820,
 2025840,
 2025860,
 2025870,
 2025890,
 2025910,
 2025930,
 2025940,
 2025960,
 2025970,
 2026000,
 2026010,
 2026020,
 2026030,
 2026040,
 2026060,
 2026070,
 2026080,
 2026090,
 2026110,
 2026140,
 2026150,
 2026170,
 2026190,
 2026200,
 2026210,
 2026220,
 2026230,
 2025480,
 2025481,
 2025482,
 2025490,
 2025500,
 2025501,
 2025502,
 2025503,
 2025504,
 2025505,
 2025506,
 2025507,
 2025508,
 2025509,
 2025520,
 2025530,
 2025540,
 2025550,
 2025580,
 2025581,
 2025582,
 2025583,
 2025584,
 2025585,
 2025586,
 2025587,
 2025588,
 2025589,
 2025590,
 2025610,
 2025620,
 2025640,
 2025650,
 2025660,
 2025670,
 2025680,
 2025690,
 2025700,
 2025710,
 2025720,
 2025730,
 2025750,
 2025760,
 2025770,
 2025110,
 2025120,
 2025130,
 2025140,
 2025150,
 2025160,
 2025210,
 2025250,
 2025280,
 2025300,
 2025310,
 2025320,
 2025330,
 2025340,
 2025350,
 2025360,
 2025380,
 2025400,
 2025410,
 2025420,
 2025430,
 2025440,
 2025450,
 2025451,
 2025452,
 2025453,
 2025454,
 2025470,
 2025471,
 2025472,
 2025473,
 2025474,
 2025475,
 2025476,
 2025477,
 2025478,
 2025479,
 2024620,
 2024630,
 2024640,
 2024650,
 2024660,
 2024670,
 2024680,
 2024690,
 2024710,
 2024720,
 2024730,
 2024740,
 2024750,
 2024760,
 2024770,
 2024780,
 2024790,
 2024800,
 2024810,
 2024820,
 2024830,
 2024831,
 2024840,
 2024850,
 2024860,
 2024870,
 2024880,
 2024890,
 2024900,
 2024950,
 2024960,
 2024980,
 2024990,
 2025000,
 2025010,
 2025020,
 2025040,
 2025050,
 2025060,
 2025070,
 2025080,
 2024170,
 2024180,
 2024200,
 2024210,
 2024220,
 2024230,
 2024250,
 2024280,
 2024290,
 2024300,
 2024310,
 2024360,
 2024370,
 2024380,
 2024390,
 2024400,
 2024410,
 2024420,
 2024430,
 2024440,
 2024450,
 2024470,
 2024480,
 2024490,
 2024500,
 2024510,
 2024520,
 2024530,
 2024540,
 2024550,
 2024570,
 2024580,
 2024590,
 2024610,
 2023660,
 2023670,
 2023680,
 2023700,
 2023750,
 2023790,
 2023800,
 2023810,
 2023830,
 2023840,
 2023850,
 2023860,
 2023870,
 2023880,
 2023910,
 2023960,
 2023970,
 2023980,
 2023990,
 2024000,
 2024010,
 2024020,
 2024030,
 2024040,
 2024050,
 2024060,
 2024070,
 2024080,
 2024150,
 2023150,
 2023160,
 2023210,
 2023230,
 2023240,
 2023250,
 2023260,
 2023270,
 2023310,
 2023330,
 2023350,
 2023360,
 2023370,
 2023380,
 2023390,
 2023410,
 2023420,
 2023430,
 2023440,
 2023450,
 2023460,
 2023470,
 2023480,
 2023490,
 2023500,
 2023530,
 2023560,
 2023570,
 2023610,
 2023630,
 2023640,
 2022670,
 2022680,
 2022700,
 2022710,
 2022720,
 2022730,
 2022740,
 2022750,
 2022780,
 2022790,
 2022800,
 2022830,
 2022840,
 2022850,
 2022870,
 2022880,
 2022890,
 2022900,
 2022910,
 2022920,
 2022930,
 2022940,
 2022950,
 2022980,
 2022990,
 2023040,
 2023050,
 2023070,
 2023080,
 2023090,
 2023091,
 2023092,
 2023100,
 2023110,
 2023140,
 2022284,
 2022285,
 2022286,
 2022287,
 2022288,
 2022289,
 2022290,
 2022300,
 2022303,
 2022304,
 2022305,
 2022320,
 2022330,
 2022340,
 2022350,
 2022360,
 2022380,
 2022430,
 2022440,
 2022460,
 2022470,
 2022480,
 2022510,
 2022530,
 2022550,
 2022570,
 2022580,
 2022600,
 2022610,
 2022620,
 2022630,
 2022640,
 2022650,
 2022660,
 2021840,
 2021860,
 2021870,
 2021871,
 2021880,
 2021890,
 2021900,
 2021910,
 2021920,
 2021950,
 2021990,
 2021991,
 2022000,
 2022020,
 2022030,
 2022040,
 2022050,
 2022060,
 2022070,
 2022080,
 2022090,
 2022110,
 2022120,
 2022130,
 2022140,
 2022150,
 2022160,
 2022180,
 2022190,
 2022200,
 2022220,
 2022230,
 2022240,
 2022270,
 2022280,
 2022281,
 2022282,
 2022283,
 2021340,
 2021360,
 2021370,
 2021380,
 2021390,
 2021400,
 2021410,
 2021420,
 2021430,
 2021450,
 2021460,
 2021461,
 2021462,
 2021470,
 2021480,
 2021490,
 2021520,
 2021530,
 2021540,
 2021600,
 2021610,
 2021620,
 2021650,
 2021660,
 2021670,
 2021680,
 2021690,
 2021700,
 2021710,
 2021720,
 2021730,
 2021760,
 2021770,
 2021780,
 2021790,
 2021800,
 2021810,
 2020840,
 2020850,
 2020860,
 2020870,
 2020880,
 2020890,
 2020900,
 2020920,
 2020930,
 2020940,
 2020950,
 2020980,
 2021020,
 2021030,
 2021040,
 2021050,
 2021060,
 2021080,
 2021090,
 2021100,
 2021130,
 2021140,
 2021150,
 2021160,
 2021170,
 2021180,
 2021190,
 2021210,
 2021220,
 2021230,
 2021280,
 2021300,
 2021310,
 2020340,
 2020350,
 2020360,
 2020370,
 2020380,
 2020390,
 2020400,
 2020410,
 2020420,
 2020430,
 2020440,
 2020450,
 2020460,
 2020480,
 2020490,
 2020500,
 2020510,
 2020520,
 2020530,
 2020540,
 2020550,
 2020570,
 2020580,
 2020590,
 2020600,
 2020620,
 2020630,
 2020660,
 2020670,
 2020700,
 2020710,
 2020720,
 2020740,
 2020750,
 2020760,
 2020770,
 2020790,
 2020810,
 2020820,
 2020830,
 2019900,
 2019910,
 2019911,
 2019912,
 2019913,
 2019920,
 2019930,
 2019940,
 2019950,
 2019970,
 2019980,
 2019990,
 2020010,
 2020020,
 2020030,
 2020040,
 2020050,
 2020060,
 2020070,
 2020080,
 2020090,
 2020100,
 2020110,
 2020120,
 2020130,
 2020140,
 2020150,
 2020180,
 2020200,
 2020210,
 2020230,
 2020240,
 2020250,
 2020270,
 2020280,
 ...]

In [74]:
def get_name(i):
  if i in li:
    name=df[df['item_id']==i]['name'].iloc[0]
  else:
    name=f'id: {i} sin nombre'
  return name

In [75]:
get_name(1840)

'Source Filmmaker'

In [76]:
fid['item_name']=fid['item_id'].apply(get_name)

In [77]:
fid

       item_id  release_date                 item_name
0       761140          2018       Lost Summoner Kitty
1       643980          2018                 Ironbound
2       670290          2017   Real Pool 3D - Poolians
3       767400          2017                   弹炸人2222
4       772540          2018     Battle Royale Trainer
...        ...           ...                       ...
29798   745400          2018              Kebab it Up!
29799   773640          2018            Colony On Mars
29800   733530          2018  LOGistICAL: South Africa
29801   610660          2018             Russian Roads
29802   658870          2017       EXIT 2 - Directions

[26686 rows x 3 columns]

In [78]:
fid.to_parquet('../Datasets/gnamesv2.parquet')